@{
    <title>Inicio | HNGT</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css" integrity="sha384-zCbKRCUGaJDkqS1kPbPd7TveP5iyJE0EjAuZQTgFLD2ylzuqKfdKlfG/eSrtxUkn" crossorigin="anonymous">

    <body>
        <div style="padding-top:56px" id="carouselExampleControls" class="carousel slide d-flex" data-ride="carousel">
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <img src="https://www.igssgt.org/wp-content/uploads/2021/07/banner-principal-pc.png">
                </div>
                <div class="carousel-item">
                    <img src="https://www.igssgt.org/wp-content/uploads/2021/07/BANNER-WEB-PC-SALA-COVID19.png">
                </div>
                <div class="carousel-item">
                    <img src="https://www.igssgt.org/wp-content/uploads/2021/07/vacunas-covid-19-igss.jpg?i=137">
                </div>

            </div>
                <button class="carousel-control-prev" type="button" data-target="#carouselExampleControls" data-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="sr-only"></span>
                </button>
                <button class="carousel-control-next" type="button" data-target="#carouselExampleControls" data-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="sr-only"></span>
                </button>
         </div>
    </body>

}

